* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Oswald';
}

header{
    margin-top: 50px;
    text-align: right;
    cursor: pointer;
    margin-bottom: 130px;
    margin-right: 30px;
}


.cabeça {
    margin-right: 30px;
    font-size: 40px;
    font-weight: 400;
    line-height: 10px;
    color: #5D5D7D;
}

.cabeça2 {
    margin-right: 30px;
    font-size: 40px;
    font-weight: 400;
    line-height: 10px;
    color: #9898af;
}

.corpo {
    display: inline-block;
    margin-left: 100px;
    margin-top: 200px;
}

h1 {
    color: #5D5D7D;
    font-size: 70px;
    font-weight: 400;
    width: 400px;
    line-height: 80px;
}

p {
    color: #5D5D7D;
    font-size: 28px;
    font-weight: 400;
    line-height: 45px;
    width: 750px;
    margin: 20px 0 20px 0;
}

.button_main {
    background: #9499EA;
    color: #FFFFFF;  
    font-size: 24px;
    font-weight: 400px;
    width: 250px;
    height: 60px;
    border: none;
    border-radius: 70px;
    cursor: pointer;
}


.imgcell {
    display: inline-block;
    width: 456px;
    height: 561px;
    margin-left: 300px;
    position: relative;
}

.fundo { 
    display: inline-block;
    position: absolute;
    right: 0;
    top: 0; 
    width: 550px;
}


